@import "file:///d:/HowToUseYourComputer/HowToUseYourComputer/node_modules/vuepress-theme-hope/templates/palette/palette.scss";
@import "file:///d:/HowToUseYourComputer/HowToUseYourComputer/node_modules/@vuepress/plugin-sass-palette/styles/empty.scss";
@import "file:///d:/HowToUseYourComputer/HowToUseYourComputer/node_modules/vuepress-theme-hope/templates/palette/generator.scss";
